{% extends 'base.html.twig' %}

{% block body %}
<h1 class="my-4">Gestion des newsletter</h1>

<a href="{{ path ('admin_newsletter_add') }}"><button type="button" class="btn btn-outline-primary my-3">Créer une newsletter</button></a>

<table class="table table-dark my-5">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Titre</th>
      <th scope="col">Corp de la new letter</th>
    </tr>
  </thead>
  <tbody>

    {% for n in allNewsletter %}
    
    <tr>
      <th scope="row"> {{ n.id }} </th>
      <td>{{ n.title }}</td>
      <td>{{ n.body }}</td>
    </tr>
 
    {% endfor %}
 </tbody>
</table>


{% endblock %}