{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Parfums Homme</h1>
    {% for man in mens %}

        <p>{{ man.name }}</p>

    {% endfor %}

</div>


{% endblock  %}