{% extends 'base.html.twig' %}

{% block boody %}


    

<div class="jumbotron">
  <h1 class="display-4"></h1>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Lire l'article</a>
</div>


{% endblock %}